
    <!-- <p>{{book.id}}</p>

    <p>{{book.title}}</p>
    <p>{{book.release}}</p> -->
<h1></h1>
<div class="margin-page">
<h2 class='page-title'>{{book.title}}</h2>

<div class='row'>
    
    <div class="col-md-6">
        <ul >
            <li>Id: {{book.id}}</li>
            <li >Author: {{book.author}}</li>
            <li >Price: {{book.price}}</li>
            <li>Release: {{book.release}}</li>
        </ul>
        <hr/>
        
        <div class='description'>
            
            {{book.description}}
        </div>
        <hr/>
        <div class='tags'>
            
        </div>

    </div>
</div>
</div>
